.App{
    width: 100%;
}

.Main{
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 95%;
}

.header{
    text-align: center;
    padding: 1px;
    background-color: rgb(7, 1, 17);
    color: white;
}

.wrapper-class{
    padding: 1rem;
    border: 1px solid grey;
}

.editor-class{
    background-color: rgb(239, 255, 255);
    padding: 1rem;
    border: 1px solid grey;
}

.toolbar-class{
    border: 1px solid grey;
}

.preview{
    width: 100%;
    border: black;
    background-color: gray;
    padding: 1rem;
    margin-top: 1rem;
}

.previewtext{
    width: 95%;
    max-width: 95%;
    border: black;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
}